


    <!-- end section-breadcrumb -->
<br>
<br>
<br>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <main class="main-content rtd">
            <article class="course-details">
              <h2 class="course-details__title">DENNIS GRIFFIN</h2>
              <div class="course-details__subtitle">Forex Trader</div>
              <img class="img-responsive" src="assets/media/750x480/1.jpg" height="480" width="750" alt="foto">
              <h3 class="course-details__title-inner decor">DESCRIPTION</h3>
              <p>Fusce eleifend donec sapien sed phase lusa. Pellentesque lacus vamus lorem arcu semper duiac. Cras ornare arcu avamus nda leo. Etiam ind arcu morbi justo mauris tempus pharetra interdum at congue semper purus. Lorem ipsum dolor sit amet sed consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>
              <h3 class="course-details__title-inner decor">What you will learn</h3>
              <p>Fusce eleifend donec sapien sed phase lusa pellentesque lacus.Vivamus lorem arcu semper duiac. Cras ornare arcu avamus nda leo Etiam ind arcu. Morbi justo mauris tempus pharetra interdum at congue semper purus. Lorem ipsum dolor sit amet sed consectetur adipisicing elit sed do eiusmod tempor incididunt. </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repre henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint ocaecat cupidatat nong pro ident sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
              <p>Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque:</p>
              <ul class="list-mark">
                <li>Pellentesque lacus vamus lorem arcu semper duiac</li>
                <li>Cras ornare arcu avamus nda leo etiam ind arcu morjusto mauris tempus pharetra inter</li>
                <li>Pellentesque lacus vamus lorem arcu semper duiac ras ornare arcu avamus</li>
                <li>vamus nda leo etiam ind arcu morbi justo mauris tempus</li>
              </ul>
              <p>Pellentesque lacus vamus lorem arcu semper duiac Cras ornare arcu avamus nda leo. Etiam ind arcu. Morbi justo mauri segtempus pharetra interdum congue semper purus. Lorem ipsum dolor sit amet sed consectetur adipisicing elit sed eiusmod tempor incididunt Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <h3 class="course-details__title-inner decor">Explore the BEST concepts</h3>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occa ecatedcupida tat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo inventore veritatis etuquasi architect obeatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequun tur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
              <h3 class="course-details__title-inner decor">Course Syllabus</h3>
              <h4 class="course-details__title-accordion">first MONTH</h4>
              <ul class="list-collapse list-unstyled">
                <li class="list-collapse__item">
                  <div class="list-collapse__inner"> <i class="icon stroke icon-Files"></i> <span class="list-collapse__title">Introduction - Why we program?</span>
                    <button class="list-collapse__btn" data-toggle="collapse" data-target="#content-1"><i class="fa fa-angle-down"></i></button>
                  </div>
                  <div class="list-collapse__content collapse" id="content-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore autem perferendis, officiis totam sed, consectetur veritatis molestias, unde inventore numquam praesentium voluptatibus. Expedita nesciunt qui ullam minus explicabo, quae alias.</div>
                </li>
                <li class="list-collapse__item">
                  <div class="list-collapse__inner"> <i class="icon stroke icon-Files"></i> <span class="list-collapse__title">How to program a Social Media Chat application</span>
                    <button class="list-collapse__btn" data-toggle="collapse" data-target="#content-2"><i class="fa fa-angle-down"></i></button>
                    <span class="list-collapse__info list-collapse__info_mod-a">assignement | 30 min</span> </div>
                  <div class="list-collapse__content collapse" id="content-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore autem perferendis, officiis totam sed, consectetur veritatis molestias, unde inventore numquam praesentium voluptatibus. Expedita nesciunt qui ullam minus explicabo, quae alias.</div>
                </li>
              </ul>
              <!-- end list-collapse -->

              <h4 class="course-details__title-accordion">second MONTH</h4>
              <ul class="list-collapse list-unstyled">
                <li class="list-collapse__item">
                  <div class="list-collapse__inner"> <i class="icon stroke icon-Files"></i> <span class="list-collapse__title">Introduction: sonic painter and Interactive D/VJ app</span>
                    <button class="list-collapse__btn" data-toggle="collapse" data-target="#content-3"><i class="fa fa-angle-down"></i></button>
                  </div>
                  <div class="list-collapse__content collapse" id="content-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore autem perferendis, officiis totam sed, consectetur veritatis molestias, unde inventore numquam praesentium voluptatibus. Expedita nesciunt qui ullam minus explicabo, quae alias.</div>
                </li>
                <li class="list-collapse__item">
                  <div class="list-collapse__inner"> <i class="icon stroke icon-Files"></i> <span class="list-collapse__title">Music player and sensor controlled visualiser</span>
                    <button class="list-collapse__btn" data-toggle="collapse" data-target="#content-4"><i class="fa fa-angle-down"></i></button>
                    <span class="list-collapse__info list-collapse__info_mod-b">video lecture | 45 min</span> </div>
                  <div class="list-collapse__content collapse" id="content-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore autem perferendis, officiis totam sed, consectetur veritatis molestias, unde inventore numquam praesentium voluptatibus. Expedita nesciunt qui ullam minus explicabo, quae alias.</div>
                </li>
                <li class="list-collapse__item">
                  <div class="list-collapse__inner"> <i class="icon stroke icon-Files"></i> <span class="list-collapse__title">Game with physical modelling and synthesis</span>
                    <button class="list-collapse__btn" data-toggle="collapse" data-target="#content-5"><i class="fa fa-angle-down"></i></button>
                  </div>
                  <div class="list-collapse__content collapse" id="content-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore autem perferendis, officiis totam sed, consectetur veritatis molestias, unde inventore numquam praesentium voluptatibus. Expedita nesciunt qui ullam minus explicabo, quae alias.</div>
                </li>
                <li class="list-collapse__item">
                  <div class="list-collapse__inner"> <i class="icon stroke icon-Files"></i> <span class="list-collapse__title">APIs accessing and processing social media data</span>
                    <button class="list-collapse__btn" data-toggle="collapse" data-target="#content-6"><i class="fa fa-angle-down"></i></button>
                    <span class="list-collapse__info list-collapse__info_mod-a">assignement | 15 min</span> </div>
                  <div class="list-collapse__content collapse" id="content-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore autem perferendis, officiis totam sed, consectetur veritatis molestias, unde inventore numquam praesentium voluptatibus. Expedita nesciunt qui ullam minus explicabo, quae alias.</div>
                </li>
                <li class="list-collapse__item">
                  <div class="list-collapse__inner"> <i class="icon stroke icon-Files"></i> <span class="list-collapse__title">Software Requirements, Design and Implementation</span>
                    <button class="list-collapse__btn" data-toggle="collapse" data-target="#content-7"><i class="fa fa-angle-down"></i></button>
                    <span class="list-collapse__info list-collapse__info_mod-d">QUIZ | 2 hrs</span> </div>
                  <div class="list-collapse__content collapse" id="content-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore autem perferendis, officiis totam sed, consectetur veritatis molestias, unde inventore numquam praesentium voluptatibus. Expedita nesciunt qui ullam minus explicabo, quae alias.</div>
                </li>
                <li class="list-collapse__item">
                  <div class="list-collapse__inner"> <i class="icon stroke icon-Files"></i> <span class="list-collapse__title">Presentation & Final Exam</span> <span class="list-collapse__info list-collapse__info_mod-c">3 hOUrs</span> </div>
                </li>
              </ul>
              <!-- end list-collapse -->
            </article>
            <!-- end course-details -->
          </main>
          <!-- end main-content -->
        </div>
        <!-- end col -->

        <div class="col-md-4">
          <aside class="sidebar">
            <div class="widget widget_course-description">
              <div class="block_content"> <a href="javascript:void(0);" class="btn btn-primary btn-effect">Hire Me</a>
                <ul class="list-information list-unstyled">
                  <li class="list-information__item"> <span class="list-information__title"><i class="icon stroke icon-Agenda"></i>Starts</span> <span class="list-information__description">ASAP</span> </li>
                  <li class="list-information__item"> <span class="list-information__title"><i class="icon stroke icon-Glasses"></i>Ratings</span> <span class="list-information__description">2 Months , 5 hrs / week</span> </li>
                  <li class="list-information__item"> <span class="list-information__title"><i class="icon stroke icon-Edit"></i>Institution </span> <span class="list-information__description">ABC University</span> </li>
                  <li class="list-information__item"> <span class="list-information__title"><i class="icon stroke icon-Book"></i>Level</span> <span class="list-information__description">Intermediate</span> </li>
                  <li class="list-information__item"> <span class="list-information__title"><i class="icon stroke icon-Users"></i>Sessions Given</span> <span class="list-information__description">62</span> </li>
                  <li class="list-information__item"> <span class="list-information__title"><i class="icon stroke icon-Bag"></i>PRICE</span> <span class="list-information__description"><span class="list-information__number">$15 </span>/ 30min</span> </li>
                </ul>
              </div>
              <!-- end block_content -->
            </div>
            <!-- end widget_course-description -->





            <section class="widget widget-default widget_social">
              <h3 class="widget-title ui-title-inner decor decor_mod-a">SHARE THIS COURSE</h3>
              <div class="block_content">
                <div class="widget_social__wrap"><img class="img-responsive" src="assets/img/social.png" height="32" width="261" alt="Social"></div>
              </div>
              <!-- end block_content -->
            </section>
            <!-- end widget_social -->

            <section class="widget widget-default widget_courses">
              <h3 class="widget-title ui-title-inner decor decor_mod-a">RELATED COURSES</h3>
              <div class="block_content">
                <ul class="list-courses list-unstyled">
                  <li class="list-courses__item">
                    <section>
                      <div class="list-courses__img"><img class="img-responsive" src="assets/media/posts/90x90/1.jpg" height="90" width="90" alt="foto"></div>
                      <div class="list-courses__inner">
                        <h4 class="list-courses__title">lifestyle: childhood in the digita age</h4>
                        <div class="list-courses__meta">John Milton</div>
                        <div class="list-courses__price">PRICE: <span class="list-courses__number">Free</span></div>
                      </div>
                    </section>
                  </li>
                  <li class="list-courses__item">
                    <section>
                      <div class="list-courses__img"><img class="img-responsive" src="assets/media/posts/90x90/2.jpg" height="90" width="90" alt="foto"></div>
                      <div class="list-courses__inner">
                        <h4 class="list-courses__title">projects finance & management</h4>
                        <div class="list-courses__meta">University of LIMS</div>
                        <div class="list-courses__price">PRICE: <span class="list-courses__number">$650</span></div>
                      </div>
                    </section>
                  </li>
                  <li class="list-courses__item">
                    <section>
                      <div class="list-courses__img"><img class="img-responsive" src="assets/media/posts/90x90/3.jpg" height="90" width="90" alt="foto"></div>
                      <div class="list-courses__inner">
                        <h4 class="list-courses__title">Clinical supervision with confidence</h4>
                        <div class="list-courses__meta">University of LIMS</div>
                        <div class="list-courses__price">PRICE: <span class="list-courses__number">$300</span></div>
                      </div>
                    </section>
                  </li>
                </ul>
              </div>
              <!-- end block_content -->
            </section>
            <!-- end widget_courses -->

            <section class="widget widget-default widget_categories">
              <h3 class="widget-title ui-title-inner decor decor_mod-a">categories</h3>
              <div class="block_content">
                <ul class="list-categories list-unstyled">
                  <li class="list-categories__item"> <a class="list-categories__link" href="javascript:void(0);"> <span class="list-categories__name">Options</span> <span class="list-categories__number">28</span> </a> </li>
                  <li class="list-categories__item"> <a class="list-categories__link" href="javascript:void(0);"> <span class="list-categories__name">Volatility</span> <span class="list-categories__number">106</span> </a> </li>
                  <li class="list-categories__item"> <a class="list-categories__link" href="javascript:void(0);"> <span class="list-categories__name">Hedging</span> <span class="list-categories__number">62</span> </a> </li>

                </ul>
              </div>
              <!-- end block_content -->
            </section>
            <!-- end widget_categories -->

          </aside>
          <!-- end sidebar -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <center> © 2014 Copyright Text</center>
            </div>
        </div>
    </footer>
  </div>
  <!-- end wrapper -->
</div>
<!-- end layout-theme -->


  <div class="form-group last">
                                                        <label class="control-label col-md-3"></label>
                                                        <div class="col-md-4">
                                                            <a class="btn btn-outline red" href="#form_modal1" data-toggle="modal"> View Datetimepicker in modal
                                                                <i class="fa fa-share"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
  <div id="form_modal1" class="modal fade" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                            <h4 class="modal-title">Datetimepicker in Modal</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="#" class="form-horizontal">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4">Default Datetimepicker</label>
                                                                    <div class="col-md-8">
                                                                        <div class="input-group date form_datetime input-large">
                                                                            <input type="text" size="16" readonly class="form-control">
                                                                            <span class="input-group-btn">
                                                                                <button class="btn default date-set" type="button">
                                                                                    <i class="fa fa-calendar"></i>
                                                                                </button>
                                                                            </span>
                                                                        </div>