

            <article class="post post_mod-i clearfix">
              <div class="entry-media">
                <div class="entry-thumbnail"> <a href="javascript:void(0);" ><img class="img-responsive" src="image/investors/kenthaynes.jpg" width="250" height="250" alt="Foto"/></a> </div>
                <div class="entry-hover"> <a href="javascript:void(0);" class="post-btn btn btn-primary btn-effect">MESSAGE ME</a> </div>
              </div>
              <div class="entry-main">
                <h3 class="entry-title ui-title-inner"><a href="javascript:void(0);">Kent	Haynes</a></h3>
                <span class="ratingNum" style="margin-left:20px;">4.8</span>
                <ul class="rating">
                  <li><i class="icon fa fa-star"></i></li>
                  <li><i class="icon fa fa-star"></i></li>
                  <li><i class="icon fa fa-star"></i></li>
                  <li><i class="icon fa fa-star"></i></li>
                  <li><i class="icon fa fa-star-o"></i></li>
                </ul>
                <i style="margin-left:480px;"></i><span style="color:#fd5c63"><font size= "3">$15/30MIN</span></font>
                <div class="entry-content">
                  <p>List, of, expertise, tags</p>
                  <p>This is an example of the persons description from their bio. It will be the first 40 words pulled from description database.loren epsilun loren epsilun
                    loren epsilun loren epsilun loren epsilun loren epsilun loren epsilun loren epsilun loren epsilun loren epsilun </p>
                </div>
                <div class="entry-footer">
                  <div class="box-comments"> <a href="javascript:void(0);"><i class="icon stroke icon-Message"></i>25</a> <a href="javascript:void(0);"><i class="icon stroke icon-User"></i>65                      </a>
                  </div>
                </div>
                <div class="post-label post-label_mod-a"> <span class="post-label__text">verified</span>
                  <div class="post-label__inner"><span class="icon stroke icon-Like"></span></div>
                </div>
              </div>
            </article>
          </div>