<html lang="en">
    <body class="page-container-bg-solid">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Blog
                                <small>blog listing page</small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="index.html">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="mentor_dashboard.html">Dashboard</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Blog</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="blog-page blog-content-1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="blog-post-sm bordered blog-container">
                                                    <div class="blog-img-thumb">
                                                        <a href="blog_post.html">
                                                            <img src="https://pbs.twimg.com/profile_images/675002642196729857/A0OpcJpA.png" />
                                                        </a>
                                                    </div>
                                                    <div class="blog-post-content">
                                                        <h2 class="blog-title blog-post-title">
                                                            <a href="blog_post.html">Metronic Blog Post</a>
                                                        </h2>
                                                        <p class="blog-post-desc"> By Eric Cartman </p>
                                                        <div class="blog-post-foot">
                                                            <div class="blog-post-meta">
                                                                <i class="icon-calendar font-blue"></i>
                                                                <a href="javascript:;">Oct 24, 2015</a>
                                                            </div>
                                                            <div class="blog-post-meta">
                                                                <i class="icon-bubble font-blue"></i>
                                                                <a href="javascript:;">14 Comments</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="blog-post-sm bordered blog-container">
                                                    <div class="blog-img-thumb">
                                                        <a href="blog_post.html">
                                                            <img src="https://static.pexels.com/photos/1029/landscape-mountains-nature-clouds.jpg" />
                                                        </a>
                                                    </div>
                                                    <div class="blog-post-content">
                                                        <h2 class="blog-title blog-post-title">
                                                            <a href="blog_post.html">Metronic Blog Post</a>
                                                        </h2>
                                                        <p class="blog-post-desc"> By Eric Cartman </p>
                                                        <div class="blog-post-foot">
                                                            <div class="blog-post-meta">
                                                                <i class="icon-calendar font-blue"></i>
                                                                <a href="javascript:;">Oct 24, 2015</a>
                                                            </div>
                                                            <div class="blog-post-meta">
                                                                <i class="icon-bubble font-blue"></i>
                                                                <a href="javascript:;">14 Comments</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                                        <div class="portlet-body" align="center">
                                            <div>
                                                <ul class="pagination">
                                                    <li>
                                                        <a href="javascript:;">
                                                            <i class="fa fa-angle-left"></i>
                                                        </a>
                                                    </li>
                                                    <li class="active">
                                                        <a href="javascript:;"> 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> 3 </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> 4 </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> 5 </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"> 6 </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <i class="fa fa-angle-right"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->