<!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Blog
                                <small>blog listing page</small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                        <!-- BEGIN PAGE TOOLBAR -->
                        <div class="page-toolbar">
                            <!-- BEGIN THEME PANEL -->
                            <div class="btn-group btn-theme-panel">
                                <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-settings"></i>
                                </a>
                                <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <h3>THEME COLORS</h3>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <ul class="theme-colors">
                                                        <li class="theme-color theme-color-default" data-theme="default">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Default</span>
                                                        </li>
                                                        <li class="theme-color theme-color-blue-hoki" data-theme="blue-hoki">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Blue Hoki</span>
                                                        </li>
                                                        <li class="theme-color theme-color-blue-steel" data-theme="blue-steel">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Blue Steel</span>
                                                        </li>
                                                        <li class="theme-color theme-color-yellow-orange" data-theme="yellow-orange">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Orange</span>
                                                        </li>
                                                        <li class="theme-color theme-color-yellow-crusta" data-theme="yellow-crusta">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Yellow Crusta</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <ul class="theme-colors">
                                                        <li class="theme-color theme-color-green-haze" data-theme="green-haze">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Green Haze</span>
                                                        </li>
                                                        <li class="theme-color theme-color-red-sunglo" data-theme="red-sunglo">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Red Sunglo</span>
                                                        </li>
                                                        <li class="theme-color theme-color-red-intense" data-theme="red-intense">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Red Intense</span>
                                                        </li>
                                                        <li class="theme-color theme-color-purple-plum" data-theme="purple-plum">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Purple Plum</span>
                                                        </li>
                                                        <li class="theme-color theme-color-purple-studio" data-theme="purple-studio">
                                                            <span class="theme-color-view"></span>
                                                            <span class="theme-color-name">Purple Studio</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 seperator">
                                            <h3>LAYOUT</h3>
                                            <ul class="theme-settings">
                                                <li> Theme Style
                                                    <select class="theme-setting theme-setting-style form-control input-sm input-small input-inline tooltips" data-original-title="Change theme style" data-container="body" data-placement="left">
                                                        <option value="boxed" selected="selected">Square corners</option>
                                                        <option value="rounded">Rounded corners</option>
                                                    </select>
                                                </li>
                                                <li> Layout
                                                    <select class="theme-setting theme-setting-layout form-control input-sm input-small input-inline tooltips" data-original-title="Change layout type" data-container="body" data-placement="left">
                                                        <option value="boxed" selected="selected">Boxed</option>
                                                        <option value="fluid">Fluid</option>
                                                    </select>
                                                </li>
                                                <li> Top Menu Style
                                                    <select class="theme-setting theme-setting-top-menu-style form-control input-sm input-small input-inline tooltips" data-original-title="Change top menu dropdowns style" data-container="body"
                                                        data-placement="left">
                                                        <option value="dark" selected="selected">Dark</option>
                                                        <option value="light">Light</option>
                                                    </select>
                                                </li>
                                                <li> Top Menu Mode
                                                    <select class="theme-setting theme-setting-top-menu-mode form-control input-sm input-small input-inline tooltips" data-original-title="Enable fixed(sticky) top menu" data-container="body" data-placement="left">
                                                        <option value="fixed">Fixed</option>
                                                        <option value="not-fixed" selected="selected">Not Fixed</option>
                                                    </select>
                                                </li>
                                                <li> Mega Menu Style
                                                    <select class="theme-setting theme-setting-mega-menu-style form-control input-sm input-small input-inline tooltips" data-original-title="Change mega menu dropdowns style" data-container="body"
                                                        data-placement="left">
                                                        <option value="dark" selected="selected">Dark</option>
                                                        <option value="light">Light</option>
                                                    </select>
                                                </li>
                                                <li> Mega Menu Mode
                                                    <select class="theme-setting theme-setting-mega-menu-mode form-control input-sm input-small input-inline tooltips" data-original-title="Enable fixed(sticky) mega menu" data-container="body"
                                                        data-placement="left">
                                                        <option value="fixed" selected="selected">Fixed</option>
                                                        <option value="not-fixed">Not Fixed</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END THEME PANEL -->
                        </div>
                        <!-- END PAGE TOOLBAR -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="index.html">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="#">Pages</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>General</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="blog-page blog-content-1">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="blog-post-lg bordered blog-container">
                                            <div class="blog-img-thumb">
                                                <a href="javascript:;">
                                                    <img src="../assets/pages/img/page_general_search/5.jpg" />
                                                </a>
                                            </div>
                                            <div class="blog-post-content">
                                                <h2 class="blog-title blog-post-title">
                                                    <a href="javascript:;">Metronic Blog Post</a>
                                                </h2>
                                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                                    suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
                                                <div class="blog-post-foot">
                                                    <ul class="blog-post-tags">
                                                        <li class="uppercase">
                                                            <a href="javascript:;">Bootstrap</a>
                                                        </li>
                                                        <li class="uppercase">
                                                            <a href="javascript:;">Sass</a>
                                                        </li>
                                                        <li class="uppercase">
                                                            <a href="javascript:;">HTML</a>
                                                        </li>
                                                    </ul>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-calendar font-blue"></i>
                                                        <a href="javascript:;">Oct 24, 2015</a>
                                                    </div>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-bubble font-blue"></i>
                                                        <a href="javascript:;">14 Comments</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blog-post-lg bordered blog-container">
                                            <div class="blog-img-thumb">
                                                <a href="javascript:;">
                                                    <img src="../assets/pages/img/page_general_search/05.jpg" />
                                                </a>
                                            </div>
                                            <div class="blog-post-content">
                                                <h2 class="blog-title blog-post-title">
                                                    <a href="javascript:;">New Metronic Features</a>
                                                </h2>
                                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                                    suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
                                                <div class="blog-post-foot">
                                                    <ul class="blog-post-tags">
                                                        <li class="uppercase">
                                                            <a href="javascript:;">Bootstrap</a>
                                                        </li>
                                                        <li class="uppercase">
                                                            <a href="javascript:;">Sass</a>
                                                        </li>
                                                        <li class="uppercase">
                                                            <a href="javascript:;">HTML</a>
                                                        </li>
                                                    </ul>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-calendar font-blue"></i>
                                                        <a href="javascript:;">Oct 22, 2015</a>
                                                    </div>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-bubble font-blue"></i>
                                                        <a href="javascript:;">8 Comments</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="blog-quote bordered blog-container">
                                                    <div class="blog-quote-label bg-green-jungle">
                                                        <i class="fa fa-quote-left"></i> Lorem ipsum dolore siat amet consectetuer adipiscing eliot sed diam nonummy nih siad euismod laoreet dolore </div>
                                                    <div class="blog-quote-avatar">
                                                        <a href="javascript:;">
                                                            <img src="../assets/pages/img/avatars/team12.jpg" />
                                                        </a>
                                                    </div>
                                                    <div class="blog-quote-author">
                                                        <h3 class="blog-title blog-quote-title">
                                                            <a href="javascript:;">Rob Robson</a>
                                                        </h3>
                                                        <p class="blog-quote-desc">Senior Developer</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="blog-video bordered blog-container">
                                                    <div class="blog-img-thumb">
                                                        <a href="javascript:;">
                                                            <img src="../assets/pages/img/page_general_search/4.jpg" />
                                                        </a>
                                                    </div>
                                                    <a href="javascript:;" class="blog-video-play">
                                                        <i class="fa fa-play"></i>
                                                    </a>
                                                    <div class="blog-video-content">
                                                        <h3 class="blog-title blog-video-title">
                                                            <a href="javascript:;">Awesome Video</a>
                                                        </h3>
                                                        <p class="blog-video-desc">Software</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="blog-banner blog-container" style="background-image:url(../assets/pages/img/background/7.jpg);">
                                                    <h2 class="blog-title blog-banner-title">
                                                        <a href="javascript:;">Metronic Latest Features</a>
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="blog-post-sm bordered blog-container">
                                                    <div class="blog-img-thumb">
                                                        <a href="javascript:;">
                                                            <img src="../assets/pages/img/page_general_search/1.jpg" />
                                                        </a>
                                                    </div>
                                                    <div class="blog-post-content">
                                                        <h2 class="blog-title blog-post-title">
                                                            <a href="javascript:;">Metronic Blog Post</a>
                                                        </h2>
                                                        <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                                        <div class="blog-post-foot">
                                                            <div class="blog-post-meta">
                                                                <i class="icon-calendar font-blue"></i>
                                                                <a href="javascript:;">Oct 24, 2015</a>
                                                            </div>
                                                            <div class="blog-post-meta">
                                                                <i class="icon-bubble font-blue"></i>
                                                                <a href="javascript:;">14 Comments</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="blog-post-sm bordered blog-container">
                                                    <div class="blog-img-thumb">
                                                        <a href="javascript:;">
                                                            <img src="../assets/pages/img/page_general_search/02.jpg" />
                                                        </a>
                                                    </div>
                                                    <div class="blog-post-content">
                                                        <h2 class="blog-title blog-post-title">
                                                            <a href="javascript:;">Metronic Blog Post</a>
                                                        </h2>
                                                        <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                                        <div class="blog-post-foot">
                                                            <div class="blog-post-meta">
                                                                <i class="icon-calendar font-blue"></i>
                                                                <a href="javascript:;">Oct 24, 2015</a>
                                                            </div>
                                                            <div class="blog-post-meta">
                                                                <i class="icon-bubble font-blue"></i>
                                                                <a href="javascript:;">14 Comments</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="blog-post-sm bordered blog-container">
                                                    <div class="blog-img-thumb">
                                                        <a href="javascript:;">
                                                            <img src="../assets/pages/img/page_general_search/2.jpg" />
                                                        </a>
                                                    </div>
                                                    <div class="blog-post-content">
                                                        <h2 class="blog-title blog-post-title">
                                                            <a href="javascript:;">Metronic Blog Post</a>
                                                        </h2>
                                                        <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                                        <div class="blog-post-foot">
                                                            <div class="blog-post-meta">
                                                                <i class="icon-calendar font-blue"></i>
                                                                <a href="javascript:;">Oct 24, 2015</a>
                                                            </div>
                                                            <div class="blog-post-meta">
                                                                <i class="icon-bubble font-blue"></i>
                                                                <a href="javascript:;">14 Comments</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="blog-post-sm bordered blog-container">
                                                    <div class="blog-img-thumb">
                                                        <a href="javascript:;">
                                                            <img src="../assets/pages/img/page_general_search/03.jpg" />
                                                        </a>
                                                    </div>
                                                    <div class="blog-post-content">
                                                        <h2 class="blog-title blog-post-title">
                                                            <a href="javascript:;">Metronic Blog Post</a>
                                                        </h2>
                                                        <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                                        <div class="blog-post-foot">
                                                            <div class="blog-post-meta">
                                                                <i class="icon-calendar font-blue"></i>
                                                                <a href="javascript:;">Oct 24, 2015</a>
                                                            </div>
                                                            <div class="blog-post-meta">
                                                                <i class="icon-bubble font-blue"></i>
                                                                <a href="javascript:;">14 Comments</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->