<div class="row">
                                <div class="col-lg-6">
                                    <div class="portlet light portlet-fit ">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class=" icon-layers font-green"></i>
                                                <span class="caption-subject font-green bold uppercase">Shadows</span>
                                                <div class="caption-desc font-grey-cascade"> Add <pre class="mt-code">.ribbon-shadow</pre> to your <pre class="mt-code">.ribbon</pre> element to add shadow. </div>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="mt-element-ribbon bg-grey-steel">
                                                        <div class="ribbon ribbon-shadow ribbon-color-success uppercase">Shadow Ribbon</div>
                                                        <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="mt-element-ribbon bg-grey-steel">
                                                        <div class="ribbon ribbon-right ribbon-shadow ribbon-color-danger uppercase">Shadow Ribbon</div>
                                                        <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="portlet light portlet-fit ">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class=" icon-layers font-green"></i>
                                                <span class="caption-subject font-green bold uppercase">Rounded Corners</span>
                                                <div class="caption-desc font-grey-cascade"> Add <pre class="mt-code">.ribbon-round</pre> to your <pre class="mt-code">.ribbon</pre> element to add shadow. </div>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="mt-element-ribbon bg-grey-steel">
                                                        <div class="ribbon ribbon-round ribbon-color-primary uppercase">Rounded Ribbon</div>
                                                        <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="mt-element-ribbon bg-grey-steel">
                                                        <div class="ribbon ribbon-right ribbon-round ribbon-color-info ribbon-shadow uppercase">Rounded Ribbon</div>
                                                        <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>