<html lang="en">
    <body class="page-container-bg-solid">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>User Profile</h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="blog-page blog-content-2">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="blog-single-content bordered blog-container">
                                            <div class="blog-single-head">
                                                <h1 class="blog-single-head-title">Morty Smith</h1>
                                                <div class="course-details__subtitle"></div>
                                            </div>
                                            <center><img class="img-responsive" src="http://40.media.tumblr.com/022bbb45b3257c3c494a1de93179bd8a/tumblr_n45cr8dmj61ty0km0o7_1280.png" height="300" width="300" alt="foto"></center>
                                            <h3 class="course-details__title-inner decor">About me</h3>
                                          <p>Fusce eleifend donec sapien sed phase lusa. Pellentesque lacus vamus lorem arcu semper duiac. Cras ornare arcu avamus nda leo. Etiam ind arcu morbi justo mauris tempus pharetra interdum at congue semper purus. Lorem ipsum dolor sit amet sed consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="blog-single-sidebar bordered blog-container" style="padding-left: 0px; padding-top: 0px; padding-right: 0px;">
                                            <div class="widget widget_course-description">
                                                <div class="block_content"> <a href="#form_modal1" data-toggle="modal" class="btn btn-primary btn-effect">Message</a>
                                                </div>
                                            </div>
                                          <section class="widget widget-default widget_social">
                                                  <div class="block_content">
                                                      <div class="margin-top-20 profile-desc-link">
                                                          <i class="fa fa-globe"></i>
                                                          <a href="http://www.keenthemes.com">personal website link</a>
                                                      </div>
                                                      <div class="margin-top-20 profile-desc-link">
                                                          <i class="fa fa-linkedin"></i>
                                                          <a href="http://www.linkedin.com/keenthemes/">linkedin link</a>
                                                      </div>
                                                      <div class="margin-top-20 profile-desc-link">
                                                          <i class="fa fa-twitter"></i>
                                                          <a href="http://www.twitter.com/keenthemes/">twitter link</a>
                                                      </div>
                                                      <div class="margin-top-20 profile-desc-link">
                                                          <i class="fa fa-facebook"></i>
                                                          <a href="http://www.facebook.com/keenthemes/">facebook link</a>
                                                      </div>
                                                  </div>
                                          </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->