<html lang="en">
    <body class="page-container-bg-solid">
        <!--BEGIN CONTAINER-->
        <div class="page-container">
            <!--BEGIN CONTENT-->
            <div class="page-content-wrapper">
                <!--BEGIN CONTENT BODY-->
                <!--BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <!--BEGIN PAGE TITLE-->
                        <div class="page-title">
                            <h1>Course Overview</h1>
                        </div>
                        <!--END PAGE TITLE-->
                    </div>
                </div>
                <!--END PAGE HEAD-->
                <!--BEGIN PAGE CONTENT BODY-->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="index.html">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="video_courses.html">List</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Overview</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!--BEGIN PAGE CONTENT INNER-->
                        <div class="page-content-inner">
                            <div class="blog-page blog-content-2">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="blog-single-content bordered blog-container">
                                            <div class="blog-single-head">
                                                <h1 class="blog-single-head-title">Forex Trading</h1>
                                            </div>
                                            <center><img class="img-responsive" src="http://thumbs.dreamstime.com/z/stock-trading-strategies-22981930.jpg" height="300" width="300" alt="foto"></center>
                                            <h3 class="course-details__title-inner decor">DESCRIPTION</h3>
                                          <p>Fusce eleifend donec sapien sed phase lusa. Pellentesque lacus vamus lorem arcu semper duiac. Cras ornare arcu avamus nda leo. Etiam ind arcu morbi justo mauris tempus pharetra interdum at congue semper purus. Lorem ipsum dolor sit amet sed consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>
                                      <h3 class="course-details__title-inner decor">What you will learn</h3>
                                          <p>Fusce eleifend donec sapien sed phase lusa pellentesque lacus.Vivamus lorem arcu semper duiac. Cras ornare arcu avamus nda leo Etiam ind arcu. Morbi justo mauris tempus pharetra interdum at congue semper purus. Lorem ipsum dolor sit amet sed consectetur adipisicing elit sed do eiusmod tempor incididunt. </p>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repre henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint ocaecat cupidatat nong pro ident sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                                          <p>Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque:</p>
                                              <ul class="list-mark">
                                                  <li>Pellentesque lacus vamus lorem arcu semper duiac</li>
                                                  <li>Cras ornare arcu avamus nda leo etiam ind arcu morjusto mauris tempus pharetra inter</li>
                                                  <li>Pellentesque lacus vamus lorem arcu semper duiac ras ornare arcu avamus</li>
                                                  <li>vamus nda leo etiam ind arcu morbi justo mauris tempus</li>
                                              </ul>
                                          <p>Pellentesque lacus vamus lorem arcu semper duiac Cras ornare arcu avamus nda leo. Etiam ind arcu. Morbi justo mauri segtempus pharetra interdum congue semper purus. Lorem ipsum dolor sit amet sed consectetur adipisicing elit sed eiusmod tempor incididunt Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                      <h3 class="course-details__title-inner decor">Explore the BEST concepts</h3>
                                          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occa ecatedcupida tat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo inventore veritatis etuquasi architect obeatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequun tur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                          <h3 class="course-details__title-inner decor">Course Syllabus</h3>
                                          <h4 class="course-details__title-accordion">First Month</h4>
                                              <ul class="list-collapse list-unstyled">
                                                  <li class="list-collapse__item">
                                                      <div class="list-collapse__inner"> <i class="icon stroke icon-Files"></i>
                                                          <span class="list-collapse__title">Introduction - Why we program?</span>
                                                          <button class="list-collapse__btn" data-toggle="collapse" data-target="#content-1"><i class="fa fa-angle-down"></i></button>
                                                      </div>
                                                      <div class="list-collapse__content collapse" id="content-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore autem perferendis, officiis totam sed, consectetur veritatis molestias, unde inventore numquam praesentium voluptatibus. Expedita nesciunt qui ullam minus explicabo, quae alias.</div>
                                                  </li>
                                              </ul>
                                          <h4 class="course-details__title-accordion">Second Month</h4>
                                              <ul class="list-collapse list-unstyled">
                                                  <li class="list-collapse__item">
                                                      <div class="list-collapse__inner"> <i class="icon stroke icon-Files"></i>
                                                          <span class="list-collapse__title">Introduction: sonic painter and Interactive D/VJ app</span>
                                                          <button class="list-collapse__btn" data-toggle="collapse" data-target="#content-3"><i class="fa fa-angle-down"></i></button>
                                                      </div>
                                                      <div class="list-collapse__content collapse" id="content-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore autem perferendis, officiis totam sed, consectetur veritatis molestias, unde inventore numquam praesentium voluptatibus. Expedita nesciunt qui ullam minus explicabo, quae alias.</div>
                                                  </li>
                                              </ul>
                                        </div>
                                    </div>
                                            <!--BEGIN BUY NOW BTN POP UP-->
                                            <div id="form_modal" class="modal fade" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                            <h4 class="modal-title">Payment Info</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                                      <div class="form-group">
                                                                          <label class="control-label">Card Holder Name</label>
                                                                          <input type="text" class="form-control" />
                                                                      </div>
                                                                      <div class="form-group">
                                                                          <label class="control-label">Address</label>
                                                                          <input type="text" class="form-control" />
                                                                      </div>
                                                                      <div class="form-group">
                                                                          <label class="control-label">City</label>
                                                                          <input type="text" class="form-control" />
                                                                      </div>
                                                                      <div class="form-group">
                                                                          <label class="control-label">State</label>
                                                                          <input type="text" placeholder="e.g: CA" class="form-control" />
                                                                      </div>
                                                                      <div class="form-group">
                                                                          <label class="control-label">Postal Code</label>
                                                                          <input type="integer" class="form-control" />
                                                                      </div>
                                                                    <div class="form-group">
                                                                         <label class="control-label">Country</label>
                                                                         <select class="form-control select2me" name="options2">
                                                                             <option value="">Select...</option>
                                                                             <option value="223">United States</option>
                                                                             <option value="244">Aaland Islands</option>
                                                                             <option value="1">Afghanistan</option>
                                                                             <option value="2">Albania</option>
                                                                             <option value="3">Algeria</option>
                                                                             <option value="4">American Samoa</option>
                                                                             <option value="5">Andorra</option>
                                                                             <option value="6">Angola</option>
                                                                             <option value="7">Anguilla</option>
                                                                             <option value="8">Antarctica</option>
                                                                             <option value="9">Antigua and Barbuda</option>
                                                                             <option value="10">Argentina</option>
                                                                             <option value="11">Armenia</option>
                                                                             <option value="12">Aruba</option>
                                                                             <option value="13">Australia</option>
                                                                             <option value="14">Austria</option>
                                                                             <option value="15">Azerbaijan</option>
                                                                             <option value="16">Bahamas</option>
                                                                             <option value="17">Bahrain</option>
                                                                             <option value="18">Bangladesh</option>
                                                                             <option value="19">Barbados</option>
                                                                             <option value="20">Belarus</option>
                                                                             <option value="21">Belgium</option>
                                                                             <option value="22">Belize</option>
                                                                             <option value="23">Benin</option>
                                                                             <option value="24">Bermuda</option>
                                                                             <option value="25">Bhutan</option>
                                                                             <option value="26">Bolivia</option>
                                                                             <option value="245">Bonaire, Sint Eustatius and Saba</option>
                                                                             <option value="27">Bosnia and Herzegovina</option>
                                                                             <option value="28">Botswana</option>
                                                                             <option value="29">Bouvet Island</option>
                                                                             <option value="30">Brazil</option>
                                                                             <option value="31">British Indian Ocean Territory</option>
                                                                             <option value="32">Brunei Darussalam</option>
                                                                             <option value="33">Bulgaria</option>
                                                                             <option value="34">Burkina Faso</option>
                                                                             <option value="35">Burundi</option>
                                                                             <option value="36">Cambodia</option>
                                                                             <option value="37">Cameroon</option>
                                                                             <option value="38">Canada</option>
                                                                             <option value="251">Canary Islands</option>
                                                                             <option value="39">Cape Verde</option>
                                                                             <option value="40">Cayman Islands</option>
                                                                             <option value="41">Central African Republic</option>
                                                                             <option value="42">Chad</option>
                                                                             <option value="43">Chile</option>
                                                                             <option value="44">China</option>
                                                                             <option value="45">Christmas Island</option>
                                                                             <option value="46">Cocos (Keeling) Islands</option>
                                                                             <option value="47">Colombia</option>
                                                                             <option value="48">Comoros</option>
                                                                             <option value="49">Congo</option>
                                                                             <option value="50">Cook Islands</option>
                                                                             <option value="51">Costa Rica</option>
                                                                             <option value="52">Cote D'Ivoire</option>
                                                                             <option value="53">Croatia</option>
                                                                             <option value="54">Cuba</option>
                                                                             <option value="246">Curacao</option>
                                                                             <option value="55">Cyprus</option>
                                                                             <option value="56">Czech Republic</option>
                                                                             <option value="237">Democratic Republic of Congo</option>
                                                                             <option value="57">Denmark</option>
                                                                             <option value="58">Djibouti</option>
                                                                             <option value="59">Dominica</option>
                                                                             <option value="60">Dominican Republic</option>
                                                                             <option value="61">East Timor</option>
                                                                             <option value="62">Ecuador</option>
                                                                             <option value="64">El Salvador</option>
                                                                             <option value="65">Equatorial Guinea</option>
                                                                             <option value="66">Eritrea</option>
                                                                             <option value="67">Estonia</option>
                                                                             <option value="69">Falkland Islands (Malvinas)</option>
                                                                             <option value="70">Faroe Islands</option>
                                                                             <option value="71">Fiji</option>
                                                                             <option value="72">Finland</option>
                                                                             <option value="74">France, skypolitan</option>
                                                                             <option value="75">French Guiana</option>
                                                                             <option value="76">French Polynesia</option>
                                                                             <option value="77">French Southern Territories</option>
                                                                             <option value="126">FYROM</option>
                                                                             <option value="78">Gabon</option>
                                                                             <option value="79">Gambia</option>
                                                                             <option value="80">Georgia</option>
                                                                             <option value="81">Germany</option>
                                                                             <option value="82">Ghana</option>
                                                                             <option value="83">Gibraltar</option>
                                                                             <option value="84">Greece</option>
                                                                             <option value="85">Greenland</option>
                                                                             <option value="86">Grenada</option>
                                                                             <option value="87">Guadeloupe</option>
                                                                             <option value="88">Guam</option>
                                                                             <option value="89">Guatemala</option>
                                                                             <option value="241">Guernsey</option>
                                                                             <option value="90">Guinea</option>
                                                                             <option value="91">Guinea-Bissau</option>
                                                                             <option value="92">Guyana</option>
                                                                             <option value="93">Haiti</option>
                                                                             <option value="94">Heard and Mc Donald Islands</option>
                                                                             <option value="95">Honduras</option>
                                                                             <option value="96">Hong Kong</option>
                                                                             <option value="97">Hungary</option>
                                                                             <option value="98">Iceland</option>
                                                                             <option value="99">India</option>
                                                                             <option value="100">Indonesia</option>
                                                                             <option value="101">Iran (Islamic Republic of)</option>
                                                                             <option value="102">Iraq</option>
                                                                             <option value="103">Ireland</option>
                                                                             <option value="104">Israel</option>
                                                                             <option value="105">Italy</option>
                                                                             <option value="106">Jamaica</option>
                                                                             <option value="107">Japan</option>
                                                                             <option value="240">Jersey</option>
                                                                             <option value="108">Jordan</option>
                                                                             <option value="109">Kazakhstan</option>
                                                                             <option value="110">Kenya</option>
                                                                             <option value="111">Kiribati</option>
                                                                             <option value="113">Korea</option>
                                                                             <option value="114">Kuwait</option>
                                                                             <option value="115">Kyrgyzstan</option>
                                                                             <option value="116">Lao People's Democratic Republic</option>
                                                                             <option value="117">Latvia</option>
                                                                             <option value="118">Lebanon</option>
                                                                             <option value="119">Lesotho</option>
                                                                             <option value="120">Liberia</option>
                                                                             <option value="121">Libyan Arab Jamahiriya</option>
                                                                             <option value="122">Liechtenstein</option>
                                                                             <option value="123">Lithuania</option>
                                                                             <option value="124">Luxembourg</option>
                                                                             <option value="125">Macau</option>
                                                                             <option value="127">Madagascar</option>
                                                                             <option value="128">Malawi</option>
                                                                             <option value="129">Malaysia</option>
                                                                             <option value="130">Maldives</option>
                                                                             <option value="131">Mali</option>
                                                                             <option value="132">Malta</option>
                                                                             <option value="133">Marshall Islands</option>
                                                                             <option value="134">Martinique</option>
                                                                             <option value="135">Mauritania</option>
                                                                             <option value="136">Mauritius</option>
                                                                             <option value="137">Mayotte</option>
                                                                             <option value="138">Mexico</option>
                                                                             <option value="139">Micronesia</option>
                                                                             <option value="140">Moldova</option>
                                                                             <option value="141">Monaco</option>
                                                                             <option value="142">Mongolia</option>
                                                                             <option value="242">Montenegro</option>
                                                                             <option value="143">Montserrat</option>
                                                                             <option value="144">Morocco</option>
                                                                             <option value="145">Mozambique</option>
                                                                             <option value="146">Myanmar</option>
                                                                             <option value="147">Namibia</option>
                                                                             <option value="148">Nauru</option>
                                                                             <option value="149">Nepal</option>
                                                                             <option value="150">Netherlands</option>
                                                                             <option value="151">Netherlands Antilles</option>
                                                                             <option value="152">New Caledonia</option>
                                                                             <option value="153">New Zealand</option>
                                                                             <option value="154">Nicaragua</option>
                                                                             <option value="155">Niger</option>
                                                                             <option value="156">Nigeria</option>
                                                                             <option value="157">Niue</option>
                                                                             <option value="158">Norfolk Island</option>
                                                                             <option value="112">North Korea</option>
                                                                             <option value="159">Northern Mariana Islands</option>
                                                                             <option value="160">Norway</option>
                                                                             <option value="161">Oman</option>
                                                                             <option value="162">Pakistan</option>
                                                                             <option value="163">Palau</option>
                                                                             <option value="247">Palestinian Territory</option>
                                                                             <option value="164">Panama</option>
                                                                             <option value="165">Papua New Guinea</option>
                                                                             <option value="166">Paraguay</option>
                                                                             <option value="167">Peru</option>
                                                                             <option value="168">Philippines</option>
                                                                             <option value="169">Pitcairn</option>
                                                                             <option value="170">Poland</option>
                                                                             <option value="171">Portugal</option>
                                                                             <option value="172">Puerto Rico</option>
                                                                             <option value="173">Qatar</option>
                                                                             <option value="174">Reunion</option>
                                                                             <option value="175">Romania</option>
                                                                             <option value="176">Russian Federation</option>
                                                                             <option value="177">Rwanda</option>
                                                                             <option value="178">Saint Kitts and Nevis</option>
                                                                             <option value="179">Saint Lucia</option>
                                                                             <option value="180">Saint Vincent and the Grenadines</option>
                                                                             <option value="181">Samoa</option>
                                                                             <option value="182">San Marino</option>
                                                                             <option value="183">Sao Tome and Principe</option>
                                                                             <option value="184">Saudi Arabia</option>
                                                                             <option value="185">Senegal</option>
                                                                             <option value="243">Serbia</option>
                                                                             <option value="186">Seychelles</option>
                                                                             <option value="187">Sierra Leone</option>
                                                                             <option value="188">Singapore</option>
                                                                             <option value="189">Slovak Republic</option>
                                                                             <option value="190">Slovenia</option>
                                                                             <option value="191">Solomon Islands</option>
                                                                             <option value="192">Somalia</option>
                                                                             <option value="193">South Africa</option>
                                                                             <option value="194">South Georgia &amp; South Sandwich Islands</option>
                                                                             <option value="248">South Sudan</option>
                                                                             <option value="195">Spain</option>
                                                                             <option value="196">Sri Lanka</option>
                                                                             <option value="249">St. Barthelemy</option>
                                                                             <option value="197">St. Helena</option>
                                                                             <option value="250">St. Martin (French part)</option>
                                                                             <option value="198">St. Pierre and Miquelon</option>
                                                                             <option value="199">Sudan</option>
                                                                             <option value="200">Suriname</option>
                                                                             <option value="201">Svalbard and Jan Mayen Islands</option>
                                                                             <option value="202">Swaziland</option>
                                                                             <option value="203">Sweden</option>
                                                                             <option value="204">Switzerland</option>
                                                                             <option value="205">Syrian Arab Republic</option>
                                                                             <option value="206">Taiwan</option>
                                                                             <option value="207">Tajikistan</option>
                                                                             <option value="208">Tanzania</option>
                                                                             <option value="209">Thailand</option>
                                                                             <option value="210">Togo</option>
                                                                             <option value="211">Tokelau</option>
                                                                             <option value="212">Tonga</option>
                                                                             <option value="213">Trinidad and Tobago</option>
                                                                             <option value="214">Tunisia</option>
                                                                             <option value="215">Turkey</option>
                                                                             <option value="216">Turkmenistan</option>
                                                                             <option value="217">Turks and Caicos Islands</option>
                                                                             <option value="218">Tuvalu</option>
                                                                             <option value="219">Uganda</option>
                                                                             <option value="220">Ukraine</option>
                                                                             <option value="221">United Arab Emirates</option>
                                                                             <option value="222">United Kingdom</option>
                                                                             <option value="224">United States Minor Outlying Islands</option>
                                                                             <option value="225">Uruguay</option>
                                                                             <option value="226">Uzbekistan</option>
                                                                             <option value="227">Vanuatu</option>
                                                                             <option value="228">Vatican City State (Holy See)</option>
                                                                             <option value="229">Venezuela</option>
                                                                             <option value="230">Viet Nam</option>
                                                                             <option value="231">Virgin Islands (British)</option>
                                                                             <option value="232">Virgin Islands (U.S.)</option>
                                                                             <option value="233">Wallis and Futuna Islands</option>
                                                                             <option value="234">Western Sahara</option>
                                                                             <option value="235">Yemen</option>
                                                                             <option value="238">Zambia</option>
                                                                             <option value="239">Zimbabwe</option>
                                                                        </select>
                                                                    </div>
                                                                        <div class="form-group" style="margin-bottom: 0px">
                                                                            <label class="control-label">Card Type</label>
                                                                            <div>
                                                                                <div class="mt-radio-inline" data-error-container="#form_2_membership_error">
                                                                                    <label class="mt-radio">
                                                                                        <input type="radio" name="membership" value="1" /> Visa
                                                                                        <span></span>
                                                                                    </label>
                                                                                    <label class="mt-radio">
                                                                                        <input type="radio" name="membership" value="2" /> MasterCard
                                                                                        <span></span>
                                                                                    </label>
                                                                                    <label class="mt-radio">
                                                                                          <input type="radio" name="membership" value="2" /> American Express
                                                                                        <span></span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="control-label">Card Number</label>
                                                                            <input type="integer" placeholder="e.g: 1234 5678 1234 5678" class="form-control" />
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="control-label">CVV</label>
                                                                            <input type="integer" class="form-control" />
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="control-label">Expiration</label>
                                                                            <input type="text" placeholder="MM/YYYY" class="form-control" />
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-md-12">
                                                                                <div class="checkbox-list">
                                                                                    <label>
                                                                                        <input type="checkbox" name="payment[]" value="1" data-title="Auto-Pay with this Credit Card." /> Remember this Card </label>
                                                                                </div>
                                                                                <div id="form_payment_error"> </div>
                                                                            </div>
                                                                        </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn grey-salsa btn-outline" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                                            <button class="btn green btn-primary" data-dismiss="modal">Confirm</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--END BUY NOW BTN POP UP-->
                                    <div class="col-md-4">
                                        <div class="blog-single-sidebar bordered blog-container" style="padding-left: 0px; padding-top: 0px; padding-right: 0px;">
                                            <div class="widget widget_course-description">
                                                <div class="block_content"> <a href="#form_modal" data-toggle="modal" class="btn btn-primary btn-effect">Take This Course</a>
                                                    <ul class="list-information list-unstyled">
                                                        <li class="list-information__item">
                                                            <span class="list-information__title"><i class="icon stroke icon-Edit"></i>Lecture</span>
                                                            <span class="list-information__description">69</span>
                                                        </li>
                                                        <li class="list-information__item">
                                                            <span class="list-information__title"><i class="icon stroke icon-Book"></i>Video</span>
                                                            <span class="list-information__description">6.9 hours</span>
                                                        </li>
                                                        <li class="list-information__item">
                                                            <span class="list-information__title"><i class="icon stroke icon-Users"></i>Skill Levels</span>
                                                            <span class="list-information__description">Beginner</span>
                                                        </li>
                                                        <li class="list-information__item">
                                                            <span class="list-information__title"><i class="icon stroke icon-Glasses"></i>Ratings</span>
                                                                <ul class="rating" style="float: right">
                                                                    <li><i class="icon fa fa-star"></i></li>
                                                                    <li><i class="icon fa fa-star"></i></li>
                                                                    <li><i class="icon fa fa-star"></i></li>
                                                                    <li><i class="icon fa fa-star"></i></li>
                                                                    <li><i class="icon fa fa-star-o"></i></li>
                                                                </ul>
                                                        </li>
                                                        <li class="list-information__item">
                                                            <span class="list-information__title"><i class="icon stroke icon-Bag"></i>PRICE</span>
                                                            <span class="list-information__description"><span class="list-information__number">$69</span></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                          <section class="widget widget-default widget_social">
                                              <h3 class="widget-title ui-title-inner decor decor_mod-a">Mentor Info</h3>
                                                  <div class="block_content">
                                                      <ul class="list-courses list-unstyled">
                                                          <li class="list-courses__item">
                                                              <section>
                                                                  <div class="list-courses__img"><img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/7/77/EricCartman.png" height="90" width="90" alt="foto"></div>
                                                                      <div class="list-courses__inner">
                                                                          <h4 class="profile-desc-title"><a href="mentor_profile.html">Eric Cartman</a></h4>
                                                                      </div>
                                                              </section>
                                                          </li>
                                                      </ul>
                                                      <div class="margin-top-20 profile-desc-link">
                                                          <i class="fa fa-globe"></i>
                                                          <a href="http://www.keenthemes.com">personal website link</a>
                                                      </div>
                                                      <div class="margin-top-20 profile-desc-link">
                                                          <i class="fa fa-linkedin"></i>
                                                          <a href="http://www.linkedin.com/keenthemes/">linkedin link</a>
                                                      </div>
                                                      <div class="margin-top-20 profile-desc-link">
                                                          <i class="fa fa-twitter"></i>
                                                          <a href="http://www.twitter.com/keenthemes/">twitter link</a>
                                                      </div>
                                                      <div class="margin-top-20 profile-desc-link">
                                                          <i class="fa fa-facebook"></i>
                                                          <a href="http://www.facebook.com/keenthemes/">facebook link</a>
                                                      </div>
                                                  </div>
                                          </section>
                                          <section class="widget widget-default widget_courses">
                                              <h3 class="widget-title ui-title-inner decor decor_mod-a">SHARE THIS COURSE</h3>
                                                  <div class="block_content">
                                                      <div class="widget_social__wrap"><img class="img-responsive" src="assets/img/social.png" height="32" width="261" alt="Social"></div>
                                                  </div>
                                          </section>
                                          <section class="widget widget-default widget_categories">
                                              <h3 class="widget-title ui-title-inner decor decor_mod-a">RELATED COURSES</h3>
                                                  <div class="block_content">
                                                      <ul class="list-courses list-unstyled">
                                                          <li class="list-courses__item">
                                                              <section>
                                                                  <div class="list-courses__img"><img class="img-responsive" src="assets/media/posts/90x90/1.jpg" height="90" width="90" alt="foto"></div>
                                                                      <div class="list-courses__inner">
                                                                          <h4 class="list-courses__title">lifestyle: childhood in the digita age</h4>
                                                                          <div class="list-courses__meta">John Milton</div>
                                                                          <div class="list-courses__price">PRICE: <span class="list-courses__number">Free</span></div>
                                                                      </div>
                                                              </section>
                                                          </li>
                                                      </ul>
                                                  </div>
                                          </section>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="blog-single-content bordered blog-container">
                                            <div class="blog-single-head">
                                                <h1 class="blog-single-head-title">Reviews</h1>
                                            </div>
                                            <div class="c-comment-list">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <a href="#">
                                                                <img class="media-object" alt="" src="../assets/pages/img/avatars/team1.jpg"> </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <a href="#">Sean</a> on
                                                                <span class="c-date">23 May 2015, 10:40AM</span>
                                                                      <ul class="rating" style="margin-top: 5px; margin-bottom: 5px;">
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star-o"></i></li>
                                                                      </ul>
                                                            </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </div>
                                                    </div>
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <a href="#">
                                                                <img class="media-object" alt="" src="../assets/pages/img/avatars/team3.jpg"> </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <a href="#">Strong Strong</a> on
                                                                <span class="c-date">21 May 2015, 11:40AM</span>
                                                                      <ul class="rating" style="margin-top: 5px; margin-bottom: 5px;">
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star-o"></i></li>
                                                                      </ul>
                                                            </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.  </div>
                                                    </div>
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <a href="#">
                                                                <img class="media-object" alt="" src="../assets/pages/img/avatars/team7.jpg"> </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <a href="#">Nick Nilson</a> on
                                                                <span class="c-date">30 May 2015, 9:40PM</span>
                                                                      <ul class="rating" style="margin-top: 5px; margin-bottom: 5px;">
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star-o"></i></li>
                                                                      </ul>
                                                            </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--END PAGE CONTENT INNER-->
                    </div>
                </div>
                <!--END PAGE CONTENT BODY-->
                <!--END CONTENT BODY-->
            </div>
            <!--END CONTENT-->
        </div>
        <!--END CONTAINER-->