<html lang="en">
    <body class="page-container-bg-solid">
        <!--BEGIN CONTAINER-->
        <div class="page-container">
            <!--BEGIN CONTENT-->
            <div class="page-content-wrapper">
                <!--BEGIN CONTENT BODY-->
                <!--BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <!--BEGIN PAGE TITLE-->
                        <div class="page-title">
                            <h1>Course Overview</h1>
                        </div>
                        <!--END PAGE TITLE-->
                    </div>
                </div>
                <!--END PAGE HEAD-->
                <!--BEGIN PAGE CONTENT BODY-->
                <div class="page-content">
                    <div class="container">
                        <!--BEGIN PAGE CONTENT INNER-->
                        <div class="page-content-inner">
                            <div class="blog-page blog-content-2">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="blog-single-content bordered blog-container">
                                            <div class="blog-single-head">
                                                <h1 class="blog-single-head-title">Forex Trading</h1>
                                            </div>
                                            <img class="img-responsive" src="http://thumbs.dreamstime.com/z/stock-trading-strategies-22981930.jpg" height="300" width="300" alt="foto">
                                            <h3 class="course-details__title-inner decor">DESCRIPTION</h3>
                                          <p>Fusce eleifend donec sapien sed phase lusa. Pellentesque lacus vamus lorem arcu semper duiac. Cras ornare arcu avamus nda leo. Etiam ind arcu morbi justo mauris tempus pharetra interdum at congue semper purus. Lorem ipsum dolor sit amet sed consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>
                                      <h3 class="course-details__title-inner decor">What you will learn</h3>
                                          <p>Fusce eleifend donec sapien sed phase lusa pellentesque lacus.Vivamus lorem arcu semper duiac. Cras ornare arcu avamus nda leo Etiam ind arcu. Morbi justo mauris tempus pharetra interdum at congue semper purus. Lorem ipsum dolor sit amet sed consectetur adipisicing elit sed do eiusmod tempor incididunt. </p>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repre henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint ocaecat cupidatat nong pro ident sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                                          <p>Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque:</p>
                                              <ul class="list-mark">
                                                  <li>Pellentesque lacus vamus lorem arcu semper duiac</li>
                                                  <li>Cras ornare arcu avamus nda leo etiam ind arcu morjusto mauris tempus pharetra inter</li>
                                                  <li>Pellentesque lacus vamus lorem arcu semper duiac ras ornare arcu avamus</li>
                                                  <li>vamus nda leo etiam ind arcu morbi justo mauris tempus</li>
                                              </ul>
                                          <p>Pellentesque lacus vamus lorem arcu semper duiac Cras ornare arcu avamus nda leo. Etiam ind arcu. Morbi justo mauri segtempus pharetra interdum congue semper purus. Lorem ipsum dolor sit amet sed consectetur adipisicing elit sed eiusmod tempor incididunt Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                      <h3 class="course-details__title-inner decor">Explore the BEST concepts</h3>
                                          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occa ecatedcupida tat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo inventore veritatis etuquasi architect obeatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequun tur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                          <h3 class="course-details__title-inner decor">Course Syllabus</h3>
                                          <h4 class="course-details__title-accordion">First Month</h4>
                                              <ul class="list-collapse list-unstyled">
                                                  <li class="list-collapse__item">
                                                      <div class="list-collapse__inner"> <i class="icon stroke icon-Files"></i>
                                                          <span class="list-collapse__title">Introduction - Why we program?</span>
                                                          <button class="list-collapse__btn" data-toggle="collapse" data-target="#content-1"><i class="fa fa-angle-down"></i></button>
                                                      </div>
                                                      <div class="list-collapse__content collapse" id="content-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore autem perferendis, officiis totam sed, consectetur veritatis molestias, unde inventore numquam praesentium voluptatibus. Expedita nesciunt qui ullam minus explicabo, quae alias.</div>
                                                  </li>
                                              </ul>
                                          <h4 class="course-details__title-accordion">Second Month</h4>
                                              <ul class="list-collapse list-unstyled">
                                                  <li class="list-collapse__item">
                                                      <div class="list-collapse__inner"> <i class="icon stroke icon-Files"></i>
                                                          <span class="list-collapse__title">Introduction: sonic painter and Interactive D/VJ app</span>
                                                          <button class="list-collapse__btn" data-toggle="collapse" data-target="#content-3"><i class="fa fa-angle-down"></i></button>
                                                      </div>
                                                      <div class="list-collapse__content collapse" id="content-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore autem perferendis, officiis totam sed, consectetur veritatis molestias, unde inventore numquam praesentium voluptatibus. Expedita nesciunt qui ullam minus explicabo, quae alias.</div>
                                                  </li>
                                              </ul>
                                        </div>
                                    </div>
                                            <!--BEGIN HIRE ME BTN POP UP-->
                                            <div id="form_modal1" class="modal fade" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                            <h4 class="modal-title">Scheduel</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="#" class="form-horizontal">
                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                            <select class="form-control">
                                                                                <option>Choose a Day...</option>
                                                                                <option>Monday</option>
                                                                                <option>Tuesday</option>
                                                                                <option>Wednesday</option>
                                                                                <option>Thursday</option>
                                                                                <option>Friday</option>
                                                                                <option>Saturday</option>
                                                                                <option>Sunday</option>
                                                                            </select>
                                                                        <!--/input-group-->
                                                                    </div>
                                                                </div>
                                                            </form>
                                                            <div class="form-group">
                                                                <label>Description </label>
                                                                <textarea class="form-control" rows="3" placeholder="What would you like to discuss with your mentor?"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn grey-salsa btn-outline" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                                            <button class="btn green btn-primary" data-dismiss="modal">Confirm</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--END HIRE ME BTN POP UP-->
                                    <div class="col-md-4">
                                        <div class="blog-single-sidebar bordered blog-container" style="padding-left: 0px; padding-top: 0px; padding-right: 0px;">
                                            <div class="widget widget_course-description">
                                                <div class="block_content"> <a href="#form_modal1" data-toggle="modal" class="btn btn-primary btn-effect">Take This Course</a>
                                                    <ul class="list-information list-unstyled">
                                                        <li class="list-information__item">
                                                            <div class="blog-post-content">
                                                                <h2 class="blog-title blog-post-title">
                                                                    <a href="javascript:;">Gain New Skills</a>
                                                                </h2>
                                                                    <p class="blog-post-desc"> Learn fundamental programming skills by through hands-on exercises and lifetime access to a best-selling Udemy course. </p>
                                                            </div>
                                                        </li>
                                                        <li class="list-information__item">
                                                            <div class="blog-post-content">
                                                                <h2 class="blog-title blog-post-title">
                                                                    <a href="javascript:;">Live Mentoring Session</a>
                                                                </h2>
                                                                    <p class="blog-post-desc"> You’ll get a 45-minute live mentoring session with a dedicated mentor to ask questions or pair program with. </p>
                                                            </div>
                                                        </li>
                                                        <li class="list-information__item">
                                                            <div class="blog-post-content">
                                                                <h2 class="blog-title blog-post-title">
                                                                    <a href="javascript:;">Go Beyond the Curriculum</a>
                                                                </h2>
                                                                    <p class="blog-post-desc"> Consider working on your own project after completing the course. The best way to learn is to build something you're interested in! </p>
                                                            </div>
                                                        </li>
                                                        <li class="list-information__item">
                                                            <span class="list-information__title"><i class="icon stroke icon-Glasses"></i>Ratings</span>
                                                                <ul class="rating" style="float: right">
                                                                    <li><i class="icon fa fa-star"></i></li>
                                                                    <li><i class="icon fa fa-star"></i></li>
                                                                    <li><i class="icon fa fa-star"></i></li>
                                                                    <li><i class="icon fa fa-star"></i></li>
                                                                    <li><i class="icon fa fa-star-o"></i></li>
                                                                </ul>
                                                        </li>
                                                        <li class="list-information__item">
                                                            <span class="list-information__title"><i class="icon stroke icon-Bag"></i>PRICE</span>
                                                            <span class="list-information__description"><span class="list-information__number">$69</span></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                          <section class="widget widget-default widget_social">
                                              <h3 class="widget-title ui-title-inner decor decor_mod-a">SHARE THIS COURSE</h3>
                                                  <div class="block_content">
                                                      <div class="widget_social__wrap"><img class="img-responsive" src="assets/img/social.png" height="32" width="261" alt="Social"></div>
                                                  </div>
                                          </section>
                                          <section class="widget widget-default widget_courses">
                                              <h3 class="widget-title ui-title-inner decor decor_mod-a">RELATED COURSES</h3>
                                                  <div class="block_content">
                                                      <ul class="list-courses list-unstyled">
                                                          <li class="list-courses__item">
                                                              <section>
                                                                  <div class="list-courses__img"><img class="img-responsive" src="assets/media/posts/90x90/1.jpg" height="90" width="90" alt="foto"></div>
                                                                      <div class="list-courses__inner">
                                                                          <h4 class="list-courses__title">lifestyle: childhood in the digita age</h4>
                                                                          <div class="list-courses__meta">John Milton</div>
                                                                          <div class="list-courses__price">PRICE: <span class="list-courses__number">Free</span></div>
                                                                      </div>
                                                              </section>
                                                          </li>
                                                      </ul>
                                                  </div>
                                          </section>
                                          <section class="widget widget-default widget_categories">
                                              <h3 class="widget-title ui-title-inner decor decor_mod-a">categories</h3>
                                                  <div class="block_content">
                                                      <ul class="list-categories list-unstyled">
                                                          <li class="list-categories__item"> <a class="list-categories__link" href="javascript:void(0);"> <span class="list-categories__name">Options</span> <span class="list-categories__number">28</span> </a> </li>
                                                      </ul>
                                                  </div>
                                          </section>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="blog-single-content bordered blog-container">
                                            <div class="blog-single-head">
                                                <h1 class="blog-single-head-title">Reviews</h1>
                                            </div>
                                            <div class="c-comment-list">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <a href="#">
                                                                <img class="media-object" alt="" src="../assets/pages/img/avatars/team1.jpg"> </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <a href="#">Sean</a> on
                                                                <span class="c-date">23 May 2015, 10:40AM</span>
                                                                      <ul class="rating" style="margin-top: 5px; margin-bottom: 5px;">
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star-o"></i></li>
                                                                      </ul>
                                                            </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </div>
                                                    </div>
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <a href="#">
                                                                <img class="media-object" alt="" src="../assets/pages/img/avatars/team3.jpg"> </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <a href="#">Strong Strong</a> on
                                                                <span class="c-date">21 May 2015, 11:40AM</span>
                                                                      <ul class="rating" style="margin-top: 5px; margin-bottom: 5px;">
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star-o"></i></li>
                                                                      </ul>
                                                            </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.  </div>
                                                    </div>
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <a href="#">
                                                                <img class="media-object" alt="" src="../assets/pages/img/avatars/team7.jpg"> </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <a href="#">Nick Nilson</a> on
                                                                <span class="c-date">30 May 2015, 9:40PM</span>
                                                                      <ul class="rating" style="margin-top: 5px; margin-bottom: 5px;">
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star"></i></li>
                                                                        <li><i class="icon fa fa-star-o"></i></li>
                                                                      </ul>
                                                            </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </div>
                                                    </div>
                                                </div>
                                                <h3 class="sbold blog-comments-title">Write A Review</h3>
                                                    <fieldset class="rating" style="float: left">
                                                        <input type="radio" id="star5" name="rating" value="5" />
                                                            <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                                        <input type="radio" id="star4half" name="rating" value="4 and a half" />
                                                            <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                        <input type="radio" id="star4" name="rating" value="4" />
                                                            <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                                        <input type="radio" id="star3half" name="rating" value="3 and a half" />
                                                            <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                        <input type="radio" id="star3" name="rating" value="3" />
                                                            <label class = "full" for="star3" title="Meh - 3 stars"></label>
                                                        <input type="radio" id="star2half" name="rating" value="2 and a half" />
                                                            <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                        <input type="radio" id="star2" name="rating" value="2" />
                                                            <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                                        <input type="radio" id="star1half" name="rating" value="1 and a half" />
                                                            <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                        <input type="radio" id="star1" name="rating" value="1" />
                                                            <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                                        <input type="radio" id="starhalf" name="rating" value="half" />
                                                            <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                                    </fieldset>
                                                <form action="#">
                                                    <div class="form-group">
                                                        <textarea rows="8" name="message" placeholder="Write review here ..." class="form-control c-square"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn blue uppercase btn-md sbold btn-block">Submit</button>
                                                    </div>
                                                </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--END PAGE CONTENT INNER-->
                    </div>
                </div>
                <!--END PAGE CONTENT BODY-->
                <!--END CONTENT BODY-->
            </div>
            <!--END CONTENT-->
        </div>
        <!--END CONTAINER-->