<!DOCTYPE html>
<html lang="en">
    <body class="page-container-bg-solid">
        <!--BEGIN CONTAINER-->
        <div class="page-container">
            <!--BEGIN CONTENT-->
            <div class="page-content-wrapper">
                <!--BEGIN CONTENT BODY-->
                <!--BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <!--BEGIN PAGE TITLE-->
                        <div class="page-title">
                            <h1>Course Feedback
                                <small></small>
                            </h1>
                        </div>
                        <!--END PAGE TITLE-->
                    </div>
                </div>
                <!--END PAGE HEAD-->
                <!--BEGIN PAGE CONTENT BODY-->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="index.html">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="mentor_dashboard.html">Dashboard</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Manage Courses</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!--BEGIN PAGE CONTENT INNER-->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <!--BEGIN PROFILE SIDEBAR-->
                                    <div class="profile-sidebar">
                                            <!-- SIDEBAR MENU -->
                                            <div class="portlet light ">
                                                <div class="row">
                                                    <div>
                                                        <a href="course_feedback.html"><button class="btn grey bold uppercase btn-block">Course Feedback</button></a>
                                                    </div>
                                                    <div>
                                                        <a href="uploaded_course.html"><button class="btn grey-cararra font-blue bold btn-block">Uploaded Course</button></a>
                                                    </div>
                                                    <div>
                                                        <a href="upload_course.html"><button class="btn grey-cararra font-blue bold btn-block">Upload Course</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END MENU -->
                                    </div>
                                    <!--END BEGIN PROFILE SIDEBAR-->
                                    <!--BEGIN PROFILE CONTENT-->
                                    <div class="profile-content">
                                        <div class="row">
                                            <!--BEGIN Feedback Last 30 Days-->
                                            <div class="col-md-12 col-sm-12">
                                                <div class="portlet light ">
                                                    <div class="portlet-title">
                                                        <div class="caption caption-md">
                                                            <i class="icon-bar-chart theme-font hide"></i>
                                                            <span class="caption-subject font-blue-madison bold uppercase"> Feedback Last 30 Days </span>
                                                        </div>
                                                        <div class="btn-arrow-link pull-right">
                                                            <a href="javascript:;"> View All </a>
                                                        </div>
                                                    </div>
                                                <div class="scroller" style="height: 250px;">
                                                    <div class="portlet-body">
                                                        <div class="table-scrollable table-scrollable-borderless">
                                                            <table class="table table-hover table-light">
                                                                <thead>
                                                                    <tr class="uppercase">
                                                                        <th colspan="2"> Students </th>
                                                                        <th> Date </th>
                                                                        <th> Time </th>
                                                                        <th> Video </th>
                                                                        <th> Rate </th>
                                                                    </tr>
                                                                </thead>
                                                                <tr>
                                                                    <td class="fit">
                                                                        <img class="user-pic" src="http://40.media.tumblr.com/022bbb45b3257c3c494a1de93179bd8a/tumblr_n45cr8dmj61ty0km0o7_1280.png"> </td>
                                                                    <td>
                                                                        <a href="user_profile.html" class="primary-link">Morty Smith</a>
                                                                    </td>
                                                                    <td> 6/11/16 </td>
                                                                    <td> 3:07 PM </td>
                                                                    <td> Option Trading </td>
                                                                    <td>
                                                                        <span class="bold theme-font">97%</span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <!--END Feedback Last 30 Days-->
                                            <!--BEGIN Feedback Last 6 Months-->
                                            <div class="col-md-12 col-sm-12">
                                                <div class="portlet light ">
                                                    <div class="portlet-title">
                                                        <div class="caption caption-md">
                                                            <i class="icon-bar-chart theme-font hide"></i>
                                                            <span class="caption-subject font-blue-madison bold uppercase"> Feedback Last 6 Months </span>
                                                        </div>
                                                        <div class="btn-arrow-link pull-right">
                                                            <a href="javascript:;"> View All </a>
                                                        </div>
                                                    </div>
                                                <div class="scroller" style="height: 250px;">
                                                    <div class="portlet-body">
                                                        <div class="table-scrollable table-scrollable-borderless">
                                                            <table class="table table-hover table-light">
                                                                <thead>
                                                                    <tr class="uppercase">
                                                                      <th colspan="2"> Students </th>
                                                                      <th> Date </th>
                                                                      <th> Time </th>
                                                                      <th> Video </th>
                                                                      <th> Rate </th>
                                                                  </tr>
                                                                </thead>
                                                                <tr>
                                                                    <td class="fit">
                                                                        <img class="user-pic" src="http://40.media.tumblr.com/022bbb45b3257c3c494a1de93179bd8a/tumblr_n45cr8dmj61ty0km0o7_1280.png"> </td>
                                                                    <td>
                                                                        <a href="user_profile.html" class="primary-link">Morty Smith</a>
                                                                    </td>
                                                                    <td> 6/11/16 </td>
                                                                    <td> 5:00 PM </td>
                                                                    <td> Real Estat </td>
                                                                    <td>
                                                                        <span class="bold theme-font">67%</span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <!--END Feedback Last 6 Months-->
                                        </div>
                                    </div>
                                    <!-- END PROFILE CONTENT -->
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
