<!DOCTYPE html>
<html lang="en">
    <body class="page-container-bg-solid">
        <!--BEGIN CONTAINER-->
        <div class="page-container">
            <!--BEGIN CONTENT-->
            <div class="page-content-wrapper">
                <!--BEGIN CONTENT BODY-->
                <!--BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <!--BEGIN PAGE TITLE-->
                        <div class="page-title">
                            <h1>My Courses
                                <small></small>
                            </h1>
                        </div>
                        <!--END PAGE TITLE-->
                    </div>
                </div>
                <!--END PAGE HEAD-->
                <!--BEGIN PAGE CONTENT BODY-->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="index.html">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="mentor_dashboard.html">Dashboard</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Manage Courses</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!--BEGIN PAGE CONTENT INNER-->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <!--BEGIN PROFILE SIDEBAR-->
                                    <div class="profile-sidebar">
                                          <!-- SIDEBAR MENU -->
                                          <div class="portlet light ">
                                              <div class="row">
                                                  <div>
                                                      <a href="course_feedback.html"><button class="btn grey-cararra font-blue bold btn-block">Course Feedback</button></a>
                                                  </div>
                                                  <div>
                                                      <a href="uploaded_course.html"><button class="btn grey bold uppercase btn-block">Uploaded Course</button></a>
                                                  </div>
                                                  <div>
                                                      <a href="upload_course.html"><button class="btn grey-cararra font-blue bold btn-block">Upload Course</button></a>
                                                  </div>
                                              </div>
                                          </div>
                                          <!-- END MENU -->
                                    </div>
                                    <!--END BEGIN PROFILE SIDEBAR-->
                                    <!--BEGIN PROFILE CONTENT-->
                                    <div class="profile-content">
                                        <div class="row">
                                          <!--BEGIN : OVERLAY-->
                                          <div class="col-md-14">
                                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12;" style="width: 295px;">
                                                  <div class="portlet light portlet-fit ">
                                                      <div class="portlet-title">
                                                          <div>
                                                              <div class="caption" align="center">
                                                                  <div class="entry-thumbnail"> <img class="img-responsive" src="https://cdn2.iconfinder.com/data/icons/money-operations/512/save_money-512.png" width="100" height="100" alt="Foto"/> </div> <br>
                                                                  <div class="caption-subject font-green bold uppercase"><a href="course_mentor.html">Forex Trading</a></div>
                                                                  <div class="caption-desc font-grey-cascade"> By Eric Cartman </div>
                                                                      <span class="ratingNum" style="margin-left:20px;"></span>
                                                                          <ul class="rating">
                                                                              <li><i class="icon fa fa-star"></i></li>
                                                                              <li><i class="icon fa fa-star"></i></li>
                                                                              <li><i class="icon fa fa-star"></i></li>
                                                                              <li><i class="icon fa fa-star"></i></li>
                                                                              <li><i class="icon fa fa-star-o"></i></li>
                                                                          </ul>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="portlet-body">
                                                          <div class="row">
                                                              <div class="col-md-12">
                                                                  <ul>
                                                                      <li>description text 1</li>
                                                                      <li>description text 2</li>
                                                                      <li>description text 3</li>
                                                                  </ul><br>
                                                              </div>
                                                              <a href="edit_course.html">
                                                              <input type="button" class="btn red-mint btn-outline btn-block sbold uppercase" value="Edit Course">
                                                              </a>
                                                           </div>
                                                       </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <!--END : OVERLAY-->
                                          </div>
                                      </div>

                                    <!-- END PROFILE CONTENT -->
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
