<!DOCTYPE html>
<html lang="en">
    <body class="page-container-bg-solid">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1> Upload Course
                                <small></small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <!--BEGIN PROFILE SIDEBAR-->
                                    <div class="profile-sidebar">
                                        <!--PORTLET MAIN-->
                                        <div class="portlet light profile-sidebar-portlet ">
                                            <!--SIDEBAR USERPIC-->
                                            <div class="profile-userpic">
                                                <img src="https://upload.wikimedia.org/wikipedia/en/7/77/EricCartman.png" class="img-responsive" alt=""> </div>
                                            <!--END SIDEBAR USERPIC-->
                                            <!--SIDEBAR USER TITLE-->
                                            <div class="profile-usertitle">
                                                <div class="profile-usertitle-name"> Eric Cartman </div>
                                            </div>
                                            <!--END SIDEBAR USER TITLE-->
                                            <!--SIDEBAR MENU-->
                                            <div class="profile-usermenu">
                                                <ul class="nav">
                                                    <li>
                                                        <a href="mentor_dashboard.html">
                                                            <i class="icon-settings"></i> Overview </a>
                                                    </li>
                                                    <li>
                                                        <a href="mentor_settings.html">
                                                            <i class="icon-settings"></i> Account Settings </a>
                                                    </li>
                                                    <li>
                                                        <a href="course_feedback.html">
                                                            <i class="icon-home"></i> Course Feedback </a>
                                                    </li>
                                                    <li class="active">
                                                        <a href="upload_course.html">
                                                            <i class="icon-info"></i> Upload Course </a>
                                                    </li>
                                                    <li>
                                                        <a href="blog.html">
                                                            <i class="icon-info"></i> Blog </a>
                                                    </li>
                                                    <li>
                                                        <a href="help_mentor.html">
                                                            <i class="icon-info"></i> Help </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!--END MENU-->
                                        </div>
                                    </div>
                                    <!--END BEGIN PROFILE SIDEBAR-->
                                    <!-- BEGIN PROFILE CONTENT -->
                                    <div class="profile-content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="portlet light ">
                                                    <div class="portlet-title tabbable-line">
                                                        <div class="caption caption-md">
                                                            <i class="icon-globe theme-font hide"></i>
                                                            <span class="caption-subject font-blue-madison bold uppercase">Upload Course</span>
                                                        </div>
                                                        <ul class="nav nav-tabs">
                                                            <li class="active">
                                                                <a href="#tab_1_1" data-toggle="tab">Basic Info</a>
                                                            </li>
                                                            <li>
                                                                <a href="#tab_1_2" data-toggle="tab">Cover Preview</a>
                                                            </li>
                                                            <li>
                                                                <a href="#tab_1_3" data-toggle="tab">Course Syllabus</a>
                                                            </li>
                                                            <li>
                                                                <a href="#tab_1_4" data-toggle="tab">Video Upload</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <div class="tab-content">
                                                            <!-- BEGIN PERSONAL INFO TAB -->
                                                            <div class="tab-pane active" id="tab_1_1">
                                                                <form role="form" action="#">
                                                                    <div class="form-group">
                                                                        <label class="control-label">Title</label>
                                                                        <input type="text" class="form-control" /> </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Subtitle</label>
                                                                        <input type="text" class="form-control" /> </div>
                                                                   <div class="form-group">
                                                                         <label class="control-label">Category</label>
                                                                         <select class="form-control select2me" name="options2">
                                                                             <option value="">Select...</option>
                                                                             <option value="1">Options</option>
                                                                             <option value="2">Stocks</option>
                                                                             <option value="3">Forex</option>
                                                                             <option value="4">Real Estate</option>
                                                                             <option value="5">VC &amp; Angel</option>
                                                                             <option value="6">Economics</option>
                                                                             <option value="7">Personal Finance</option>
                                                                             <option value="8">Portfolio Management</option>
                                                                             <option value="9">Value Investments</option>
                                                                             <option value="10">Day Trading</option>
                                                                             <option value="11">Swing Trading</option>
                                                                             <option value="12">Others</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Course Description</label>
                                                                        <textarea rows="4" maxlength="220" class="form-control" placeholder="Max 40 words/220 characters"></textarea></div>
                                                                    <div class="form-group">
                                                                       <label class="control-label">Price</label>
                                                                       <input type="text" placeholder="e.g: Free, $25, $30, etc" class="form-control" /> </div>

                                                                    <div class="form-group" style="margin-bottom: 0px">
                                                                            <label class="control-label">Instructional Level</label>
                                                                            <div>
                                                                                <div class="mt-radio-inline" data-error-container="#form_2_membership_error">
                                                                                    <label class="mt-radio">
                                                                                        <input type="radio" name="membership" value="1" /> Beginner Level

                                                                                        <span></span>
                                                                                    </label>
                                                                                    <label class="mt-radio">
                                                                                        <input type="radio" name="membership" value="2" /> Intermediate Level

                                                                                        <span></span>
                                                                                    </label>
                                                                                    <label class="mt-radio">
                                                                                          <input type="radio" name="membership" value="2" /> Expert Level

                                                                                        <span></span>
                                                                                    </label>
                                                                                   <label class="mt-radio">
                                                                                          <input type="radio" name="membership" value="2" /> All Levels

                                                                                        <span></span>
                                                                                    </label>
                                                                                </div>
                                                                              </div>
                                                                            </div>


                                                                    <div class="margiv-top-10">
                                                                        <a href="javascript:;" class="btn green"> Save Changes </a>
                                                                        <a href="javascript:;" class="btn default"> Cancel </a>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <!-- END PERSONAL INFO TAB -->
                                                            <!-- BEGIN CHANGE PICTURE TAB -->
                                                            <div class="tab-pane" id="tab_1_2">
                                                                <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. </p>
                                                                <form action="#" role="form">
                                                                    <div class="form-group">
                                                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                                                            </div>
                                                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                                                                            </div>
                                                                            <div>
                                                                                <span class="btn default btn-file">
                                                                                    <span class="fileinput-new"> Select image </span>
                                                                                    <span class="fileinput-exists"> Change </span>
                                                                                    <input type="file" name="..."> </span>
                                                                                <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="clearfix margin-top-10">
                                                                            <span class="label label-danger">NOTE! </span>
                                                                            <span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="margin-top-10">
                                                                        <a href="javascript:;" class="btn green"> Save Changes </a>
                                                                        <a href="javascript:;" class="btn default"> Cancel </a>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <!-- END CHANGE PICTURE TAB -->
                                                            <!-- BEGIN Course Syllabus TAB -->
                                                            <div class="tab-pane" id="tab_1_3">
                                                                <form action="#">
                                                                  <div class="form-group">
                                                                      <label class="control-label">What You Will Learn</label>
                                                                      <textarea rows="4" maxlength="220" class="form-control" placeholder="Max 150 words/300 characters"></textarea></div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">First Month</label>
                                                                        <input type="password" class="form-control" /> </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Second Month</label>
                                                                        <input type="password" class="form-control" /> </div>
                                                                    <div class="margin-top-10">
                                                                        <a href="javascript:;" class="btn green"> Save Changes </a>
                                                                        <a href="javascript:;" class="btn default"> Cancel </a>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <!-- END Course Syllabus TAB -->
                                                            <!-- Video Upload INFO TAB -->
                                                            <div class="tab-pane" id="tab_1_4">
                                                                <form action="#" role="form">
                                                                    <div class="form-group">
                                                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+video" alt="" />
                                                                            </div>
                                                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                                                                            </div>
                                                                            <div>
                                                                                <span class="btn default btn-file">
                                                                                    <span class="fileinput-new"> Select Video </span>
                                                                                    <span class="fileinput-exists"> Change </span>
                                                                                    <input type="file" name="..."> </span>
                                                                                <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="clearfix margin-top-10">
                                                                            <span class="label label-danger">NOTE! </span>
                                                                            <span>Attached video is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="margin-top-10">
                                                                        <a href="javascript:;" class="btn green"> Save Changes </a>
                                                                        <a href="javascript:;" class="btn default"> Cancel </a>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <!-- END Video Upload TAB -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END PROFILE CONTENT -->
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
