   <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="index.html">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="#">More</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Elements</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <!-- BEGIN : OVERLAY -->
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="portlet light portlet-fit ">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class=" icon-layers font-green"></i>
                                                <span class="caption-subject font-green bold uppercase">Forex Trading</span>
                                                <div class="caption-desc font-grey-cascade"> By Masud Hossain </div>
                                                <a class="btn default btn-outline" href="javascript:;">
                                                    <i class="icon-star"></i>
                                                </a>
                                                <a class="btn default btn-outline" href="javascript:;">
                                                    <i class="icon-star"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="mt-element-overlay">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="mt-overlay-3">
                                                            <img src="../assets/pages/img/page_general_search/05.jpg" />
                                                            <div class="mt-overlay">
                                                                <h2>$30</h2>
                                                                <a class="mt-info" href="#">Learn More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="portlet light portlet-fit ">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class=" icon-layers font-green"></i>
                                                <span class="caption-subject font-green bold uppercase">Real-Estate</span>
                                                <div class="caption-desc font-grey-cascade"> By Yusuf Shajahan </div>
                                                <a class="btn default btn-outline" href="javascript:;">
                                                    <i class="icon-star"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="mt-element-overlay">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="mt-overlay-3">
                                                            <img src="../assets/pages/img/page_general_search/05.jpg" />
                                                            <div class="mt-overlay">
                                                                <h2>$25</h2>
                                                                <a class="mt-info" href="#">Learn More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="portlet light portlet-fit ">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class=" icon-layers font-green"></i>
                                                <span class="caption-subject font-green bold uppercase">VC Invest</span>
                                                <div class="caption-desc font-grey-cascade"> By Jona Li </div>
                                                <a class="btn default btn-outline" href="javascript:;">
                                                    <i class="icon-star"></i>
                                                </a>
                                                <a class="btn default btn-outline" href="javascript:;">
                                                    <i class="icon-star"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="mt-element-overlay">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="mt-overlay-3">
                                                            <img src="../assets/pages/img/page_general_search/05.jpg" />
                                                            <div class="mt-overlay">
                                                                <h2>$20</h2>
                                                                <a class="mt-info" href="#">Learn More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="portlet light portlet-fit ">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class=" icon-layers font-green"></i>
                                                <span class="caption-subject font-green bold uppercase">Stocks</span>
                                                <div class="caption-desc font-grey-cascade"> By Stephen Hong </div>
                                                <a class="btn default btn-outline" href="javascript:;">
                                                    <i class="icon-star"></i>
                                                </a>
                                                <a class="btn default btn-outline" href="javascript:;">
                                                    <i class="icon-star"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="mt-element-overlay">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="mt-overlay-3">
                                                            <img src="../assets/pages/img/page_general_search/05.jpg" />
                                                            <div class="mt-overlay">
                                                                <h2>$15</h2>
                                                                <a class="mt-info" href="#">Learn More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
