<html lang="en">
    <body class="page-container-bg-solid">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                    </div>
                </div>
                  <!--BEGIN PAGE CONTENT BODY-->
                  <div class="page-content">
                    <div class="container">
                         <!--BEGIN PAGE CONTENT INNER-->
                         <div class="page-content-inner">
                             <div class="search-page search-content-3">
                                <div class="row">
                                    <div class="col-md-3">
                                        <!--BEGIN SEARCH SIDEBAR-->
                                        <div class="search-filter">
                                            <div class="search-label uppercase">Search By</div>
                                            <div class="input-icon right">
                                                <i class="icon-magnifier"></i>
                                                <input type="text" class="form-control" placeholder="Filter by keywords"> </div>
                                            <div class="search-label uppercase">Sort By</div>
                                            <select class="form-control">
                                                <option>Select...</option>
                                                <option>Price: Low to High</option>
                                                <option>Price: High to Low</option>
                                                <option>Avg. Number of Reviews</option>
                                            </select>
                                            <div class="search-label uppercase">Date</div>
                                            <div class="input-icon right">
                                              <i class="icon-calendar"></i>
                                                <input class="form-control date-picker" type="text" placeholder="Any Date" /> </div>
                                            <button class="btn green bold uppercase btn-block">Update Search Results</button>
                                            <div class="search-filter-divider bg-grey-steel"></div>
                                            <div class="row">
                                                <div>
                                                    <button class="btn grey bold uppercase btn-block">Reset Search</button>
                                                </div>
                                                <div>
                                                    <button class="btn grey-cararra font-blue bold btn-block">Advanced Search</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!--END SEARCH SIDEBAR-->
                                    </div>
                                    <!-- BEGIN PAGE CONTENT -->
                                    <div class="page-content-inner">
                                        <!-- BEGIN : OVERLAY -->
                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12;" style="width: 295px;">
                                               <div class="portlet light portlet-fit ">
                                                  <div class="portlet-title">
                                                     <div>
                                                       <div class="caption" align="center">
                                                          <div class="entry-thumbnail"> <img class="img-responsive" src="https://cdn2.iconfinder.com/data/icons/money-operations/512/save_money-512.png" width="100" height="100" alt="Foto"/> </div> <br>
                                                              <div class="caption-subject font-green bold uppercase"><a href="javascript:void(0);">Forex Trading</a></div>
                                                              <div class="caption-desc font-grey-cascade"> By Masud Hossain </div>
                                                                  <span class="ratingNum" style="margin-left:20px;"></span>
                                                                              <ul class="rating">
                                                                                <li><i class="icon fa fa-star"></i></li>
                                                                                <li><i class="icon fa fa-star"></i></li>
                                                                                <li><i class="icon fa fa-star"></i></li>
                                                                                <li><i class="icon fa fa-star"></i></li>
                                                                                <li><i class="icon fa fa-star-o"></i></li>
                                                                              </ul>
                                                       </div>
                                                     </div>
                                                  </div>
                                                     <div class="portlet-body">
                                                         <div class="row">
                                                            <div class="col-md-12">
                                                                <ul>
                                                                  <li>description text 1</li>
                                                                  <li>description text 2</li>
                                                                  <li>description text 3</li>
                                                                </ul><br>
                                                            </div>
                                                             <input type="button" class="btn red-mint btn-outline btn-block sbold uppercase" value="buy now">
                                                         </div>
                                                     </div>
                                               </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12;" style="width: 295px;">
                                               <div class="portlet light portlet-fit ">
                                                  <div class="portlet-title">
                                                     <div>
                                                       <div class="caption" align="center">
                                                          <div class="entry-thumbnail"> <img class="img-responsive" src="https://cdn2.iconfinder.com/data/icons/money-operations/512/save_money-512.png" width="100" height="100" alt="Foto"/> </div> <br>
                                                              <div class="caption-subject font-green bold uppercase"><a href="javascript:void(0);">Real Estate</a></div>
                                                              <div class="caption-desc font-grey-cascade"> By Yusuf Shajahan </div>
                                                                  <span class="ratingNum" style="margin-left:20px;"></span>
                                                                              <ul class="rating">
                                                                                <li><i class="icon fa fa-star"></i></li>
                                                                                <li><i class="icon fa fa-star"></i></li>
                                                                                <li><i class="icon fa fa-star"></i></li>
                                                                                <li><i class="icon fa fa-star"></i></li>
                                                                                <li><i class="icon fa fa-star-o"></i></li>
                                                                              </ul>
                                                       </div>
                                                     </div>
                                                  </div>
                                                     <div class="portlet-body">
                                                         <div class="row">
                                                            <div class="col-md-12">
                                                                <ul>
                                                                  <li>description text 1</li>
                                                                  <li>description text 2</li>
                                                                  <li>description text 3</li>
                                                                </ul><br>
                                                            </div>
                                                             <input type="button" class="btn red-mint btn-outline btn-block sbold uppercase" value="buy now">
                                                         </div>
                                                     </div>
                                               </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12;" style="width: 295px;">
                                               <div class="portlet light portlet-fit ">
                                                  <div class="portlet-title">
                                                     <div>
                                                       <div class="caption" align="center">
                                                          <div class="entry-thumbnail"> <img class="img-responsive" src="https://cdn2.iconfinder.com/data/icons/money-operations/512/save_money-512.png" width="100" height="100" alt="Foto"/> </div> <br>
                                                              <div class="caption-subject font-green bold uppercase"><a href="javascript:void(0);">VC Invest</a></div>
                                                              <div class="caption-desc font-grey-cascade"> By Jona Li </div>
                                                                  <span class="ratingNum" style="margin-left:20px;"></span>
                                                                              <ul class="rating">
                                                                                <li><i class="icon fa fa-star"></i></li>
                                                                                <li><i class="icon fa fa-star"></i></li>
                                                                                <li><i class="icon fa fa-star"></i></li>
                                                                                <li><i class="icon fa fa-star"></i></li>
                                                                                <li><i class="icon fa fa-star-o"></i></li>
                                                                              </ul>
                                                       </div>
                                                     </div>
                                                  </div>
                                                     <div class="portlet-body">
                                                         <div class="row">
                                                            <div class="col-md-12">
                                                                <ul>
                                                                  <li>description text 1</li>
                                                                  <li>description text 2</li>
                                                                  <li>description text 3</li>
                                                                </ul><br>
                                                            </div>
                                                             <input type="button" class="btn red-mint btn-outline btn-block sbold uppercase" value="buy now">
                                                         </div>
                                                     </div>
                                               </div>
                                            </div>
                                        </div>
                                        <!--END : OVERLAY-->
                                    </div>
                                    <!--END PAGE CONTENT-->
                                </div>
                             </div>
                         </div>
                         <!--END PAGE CONTENT INNER-->
                    </div>
                  </div>
                  <!--END PAGE CONTENT BODY-->
                  <!--END CONTENT BODY-->
            </div>
            <!--END CONTENT-->